@model UserProfileViewModel

@{
    ViewData["Title"] = "Mon Profil";
}

<h2>Mon Profil</h2>
<ul class="list-group">
    <li class="list-group-item"><strong>Nom d'utilisateur :</strong> @Model.Username</li>
    <li class="list-group-item"><strong>Nom :</strong> @Model.LastName</li>
    <li class="list-group-item"><strong>Prénom :</strong> @Model.FirstName</li>
    <li class="list-group-item"><strong>Email :</strong> @Model.Email</li>
    <li class="list-group-item"><strong>Rôle :</strong> @Model.Role</li>
    <li class="list-group-item"><strong>Date de création :</strong> @Model.CreatedAt</li>
</ul>